footer {
  width: 100vw;
  background-color: #9ac7e8;
  position: sticky;
  bottom: 0;
}

small {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9ac7e8;
}

small img {
  height: 15px;
  padding: 3px 5px 0 0;
  margin-bottom: -2px;
  background-color: transparent;
}

small a {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

small a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
