.scoreboard {
  padding: 1vh 5vw;
  background-color: #9ac7e8;
}

.scoreboard > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9ac7e8;
}

.scoreboard li {
  background-color: #9ac7e8;
}

@media only screen and (max-width: 750px) {
  .scoreboard > ul {
    flex-direction: column;
  }
}
