@font-face {
  font-family: 'bb-1';
  src: url(../fonts/bb-font-1.woff);
}

#title {
  font-family: 'bb-1', Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 5vw;
  background-color: #fcdd60;
  /* color: #f0262a; */
  font-size: 4rem;
}

.navbar > li {
  display: flex;
  align-items: center;
  gap: 5vw;
}

#titlebar-logo {
  height: 40px;
}
