* {
  margin: 0;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #efefef;
}

ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

button {
  color: white;
  background-color: #f0262a;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 7px 7px 5px 7px;
  box-shadow: -1px 1px 1px black;
  font-weight: bold;
  transition: all 0.05s ease-in-out;
}

button > img {
  background-color: #f0262a;
}

button:hover {
  transform: scale(1.05);
  box-shadow: -1.5px 1.5px 1.5px black;
  cursor: pointer;
}

button:active {
  transform: scale(1.025);
  box-shadow: -1px 1px 1px black;
  cursor: pointer;
  opacity: 0.8;
}

img {
  height: 20px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.modal {
  padding: 10px;
  width: 70vh;
  position: absolute;
  bottom: calc(50% - 15vh);
  left: calc(50% - 35vh);
  background-color: #fcdd60;
  border-radius: 12px;
  border: 3px solid #f0262a;
  box-shadow: -1.5px 1.5px 1.5px black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal > h2 {
  background-color: transparent;
  text-align: center;
  padding: 10px;
}

.modal > button {
  border-radius: 8px;
}
